@font-face {
    font-family: GlacialIndifference;
    src: url("../fonts/glacial-indifference/GlacialIndifference-Regular.otf");
}
@font-face {
    font-family: GlacialIndifferenceBold;
    src: url("../fonts/glacial-indifference/GlacialIndifference-Bold.otf");
}
@font-face {
    font-family: GlacialIndifferenceItalic;
    src: url("../fonts/glacial-indifference/GlacialIndifference-Italic.otf");
}
@font-face {
    font-family: LatoRegular;
    src: url("../fonts/lato/Lato-Regular.ttf");
}
@font-face {
    font-family: LatoItalic;
    src: url("../fonts/lato/Lato-Italic.ttf");
}
@font-face {
    font-family: LatoBold;
    src: url("../fonts/lato/Lato-Bold.ttf");
}
@font-face {
    font-family: Irwanwismoyo;
    src: url("../fonts/irwanwismoyo/irwanwismoyo.ttf");
}
@font-face {
    font-family: Destain;
    src: url("../fonts/greataris-destain/destain.ttf");
}
body{
    /*width: 100vw;*/
    height: 100vh;
    margin: 0;
    background: #32465a;/*#44373E*/
    font-family: GlacialIndifference;
    overflow-x: hidden;
}
.app-name{
    font-family: Irwanwismoyo!important;
    text-transform: lowercase!important ;
    font-size: 40px!important;
}
ul{
    list-style-type: none;
}
.nav-bar {
    line-height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background: #EDEDED;
    border-color: #dadad9;
    border-bottom-style: solid;
    border-width: 1px;
    /*min-width: 681px;*/   
    height: 60px;
}
.gray{
    background: #ededed;
}
.left{
    float: left;
}

.right{
    float: right;
}
a{
    color: inherit;
    text-decoration: none;

}
li a {
    display: block;
    text-align: center;
    cursor: pointer;
    /* padding: 14px 16px; */

}

.menu-options:hover {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.24), 0px 0px 7px 0px rgba(0,0,0,0.19);

}

.home-back{
	background: #F1F0EE;
    height: 100vh;
}
.menu-title{
    font-family: Destain;
    text-align: center;
    border-style: hidden;
    background: #32465a;/*#495e69;/*rgba(184,126,158, 0.6)*/
    color: whitesmoke;
    border-radius: 2px;
    margin-left: 1px;
    margin-top: 0;
    min-width: 100px;
    font-size: 27px;
    /*text-transform: uppercase;*/
    padding: 0 5px;
}
.menu-options{
    font-family: LatoBold;
    height: 100%;
    width: 131px;
    text-align: center;
    color: #32465a;
}
.centered {
    margin-top: 2px;
    position: absolute;
    top: 191%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.container {
    cursor: pointer;
    display: initial;
    /* position: relative; */
    /* text-align: center; */
    /* color: #5c4954; */
    /* padding-right: 30px; */
    padding-left: 30px;
}
.book-img:hover{
    width: 85px;
}


.book-img{
    width: 80px;
    -webkit-filter: hue-rotate(90deg); /* Safari 6.0 - 9.0 */
    filter: hue-rotate(-428deg);
    box-shadow: -4px 2px 5px 0px #aaaaaa;
}

.book-title{
    font-style: oblique;
    margin: 0;
    text-align: center;  
}

.book-title:hover{
    text-shadow: 
    3px 0px 6px #607D8B, 
    -3px 0px 6px #607D8B, 
    6px 0px 8px #607D8B, 
    -6px 0px 8px #cade79;

}

.btn{
    height: 29px;
    width: 120px;
    border: none;
    background: #32465a;/*#495e69;/*#B87E9E; */
    color: whitesmoke;/* #32465a;*/
    border-radius: 3px;
    cursor: pointer;
}

.new-book{
    float: right;

}

.btn.save{
    /* display: block; */
    margin-right: 9px
}
.finish{
    background: #607d8b;
}
.purple{
    background: #495e6966;/*whitesmoke;/*rgba(102,82,93,1)*/
}


div.chapter{
    background: white;
    height: calc(100vh - 61px);
    width: 40%;
    /* padding-top: 5%; */
    /* padding-bottom: 5%; */
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.24), 0px 0px 7px 0px rgba(0,0,0,0.19);
    top: 61px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    overflow-y: auto;
}

.chapter-title{
    text-align: center;
    font-size: xx-large;
    outline: none;
    padding: 10%;
}
.chapter-body{
    /* min-height: 50%; */
    text-align: justify;
    outline: none;
    font-size: 18px;

}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgba(128,128,128,0.35);
}

.scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #32465a59;/*#d5c9cf;*/
}

/*Standard*/

.padding-10{
    padding: 0 10px;
}
.hidden{
    display: none!important;
}
.disable{
    pointer-events: none;
    background: rgba(102,82,93,0.3);
    color:gray;
}
.modal{
    background: #32465a;/*rgba(68,55,62,0.94);*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: whitesmoke;
}
.modal-content{
    margin: auto auto;
    width: 45%;
    height: 56%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.modal-title{
    height: 30%;
    text-align: center;
    font-size: 35px;
}
.modal-body{
    height: 50%;
}
.modal-btn-cont{
    height: 20%;
    text-align: center;
}
.modal-btn{
    margin: 2px 14px;
    background: #607D8B;
}
/*Login*/
.center{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: auto;
}
.main-cont{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../imgs/login-back.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-container{
    background-color: rgba(249,252,255,0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 50%;
    margin: auto;
    border: 0px solid rgba(102,82,93,100);
    border-radius: 20px;
    min-height: 196px;
}

.login-title{
    width: 100%;
    line-height: 14vh;
    font-size: xx-large;
    text-align: center;
    color: #0f3c50;/*#66525d*/
    padding: 10px 0 ;
}

.login-content{
    width: 100%;
    height: 40%;
}


.login-buttons{
    width: 100%;
    height: calc(60% - 14vh - 20px);
    text-align: center;
}

.login-btn{
    width: 100%;
    height: 50%;
    text-align: center;
}

.login-btn-lgn{
    line-height: 35px;
    background-color: #0d3d51;/*#66525D*/
    width: 30%;
    opacity: 100;
    margin: 0 auto;
    border: 1px solid #4458626e;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    position: relative;
}

button:hover{
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.24), 0 0px 50px 0 rgba(0,0,0,0.19);
    font-weight: bold;
}

.login-btn-reg{
    line-height: 35px;
    color: #0d3849; /*#66525D*/
    width: 30%;
    opacity: 100;
    margin: 0 auto;
    cursor: pointer;
}

.login-btn-reg:hover{
    font-weight: bold; 
}

.login-lbl{
    width: 100%;
    height: 50%;
    text-align: center;
}

input{
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(158,158,158,0.77);
    padding: 2px 10px;
    cursor: text;
    font-family: GlacialIndifference;
    font-size: initial;
}
.usr-input{
    width: 40%;
}
.usr-input::placeholder{
    color:rgba(154,154,154,0.66);
}
.register{
    height: 30% !important;
}
.login-btn.hidden{
    height: 0 !important;
}

/*all-books*/
.books{
    margin: 20px;
}
.book-input{
    width: 60%;
}
.btn-cancel{
    background: none;
    border: 1px solid #607D8B;
    color: #607D8B;
    /*border: 1px solid #b87e9e;
    color: #b87e9e;*/
}
/*edit-chapter*/
.list-options{
    text-align: justify;
    padding: 20px;
}
.decision{
    padding: 10px 14px;
    cursor: pointer;
  
}
.decision a{
    display: -webkit-inline-box!important;
}
.decision:hover {
    /*font-weight: bold; */
  text-shadow: 
    3px 0px 6px #607D8B, 
    -3px 0px 6px #607D8B, 
    6px 0px 8px #607D8B, 
    -6px 0px 8px #cade79;    
}
.arrow{
    width: 14px;
    padding-right: 5px;
}
.menu-responsive{
    width: 100%;
    background-color: #ededed;
    padding-left: 0;
    margin: 0;
}
.menu-responsive a{
    width: calc(100% - 20px);
    padding: 10px;
    text-align: left;
}
ul nav.menu-bars {
    display: none;
    font-size: 35px;
   /* padding-left: 10px;
    padding-right: 10px;*/
    color: #32465a;/* whitesmoke; /*#66525d*/
    margin-left: 2px;
       /*Removes border*/
}

@media (max-width: 846px) {
    ul nav.menu     { display: none; }
    ul nav.menu-bars { display: inline-block; }
    .chapter{
        width: 80%!important;
    }
}
.wrap{
    margin-right: 30%!important;
}
.comments{
    height: calc(100vh - 61px);
    width: 30%;
    right: 0;
    top: 61px;
    position: absolute;
    overflow-y: auto;
    color: whitesmoke;
}
.list-comments{
    padding: 10px;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}
.comment{
    background-color: #607D8B;/*rgba(255, 213, 236, 0.3)*/
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.comment-user{
    text-align: right;
    font-style: oblique;
    font-weight: bold;
    color: #dcdcdcc4;/*44373e*/
    font-size: 14px;
}
.comment-date{
    text-align: right;
    font-style: oblique;
    color: #dcdcdc80;/*#5c4954*/
    font-size: 14px;
}
.container-comments{
    height: calc(100% - 80px);
    overflow: hidden;
}
.trash{
    color: #F44336;
    float: left;
    cursor: pointer;
}
.container-new{
    position: fixed;
    margin-left: 10px;
    height: 80px;
    /* top: 0; */
    width: calc(30% - 10px);
    bottom: 0;
}
.container-new input{
    width: calc(100% - 70px);
    height: 66px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.container-new button{
    height: 66px;
    width: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 4px;
    position: absolute;
}
/*loader*/

.text{
    text-align: center;
    color: whitesmoke;
    height: 344px;
    font-size: 20px
}
.load{
    width: 80%;
    top: 0;
}
.logo{
    font-family: Irwanwismoyo;
    font-size: 100px;
    text-align: center;
    margin: 29px 0;    font-family: Irwanwismoyo;
    font-size: 100px;
    margin-bottom: 29px;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
    position: absolute; 
    /* width: 64px; */
    height: -31px;
    top: 284px;
    color: #ffffff;
    text-indent: -9999em;
    /* margin: 88px auto; */
    position: absolute;
    font-size: 8px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*side out menu*/
#menuli {
    position: fixed;
    left: -8.5em;
    top: 50%;
    width: 8em;
    background: #607d8b;
    color: white;
    margin: -3em 0 0 0;
    padding: 0.5em 0.5em 0.5em 2.5em;
}

#menuli:hover { left: 0 }
#menuli { transition: 0.2s }
.pad-left{
    padding-left: 22px;
}

.floating-box {
    float: left;
    width: 80px;
    height: 155px;
    margin: 10px 31px;
}

.icon.left.save{
    display: none;
}
.icon-fa{
    padding-right: 8px;
}
@media(max-width: 681px){

    #btn-logout{
        display: none;
    }
    .btn.save{
        display: none;
    }
    .icon.left.save{
        display: inline-block;
    }
    .comments{
        width: 92%;
    }
    .floating-box{
        margin: 10px 15px;
    }
    .new-book{
        height: 35px;
        right: 0;
        left: 0;
        margin: auto;
        position: fixed;
        /* width: 120px; */
        font-size: 15px;
    }
    .container-new{
        width: calc(87% - 10px);
    }

}
@media(max-width: 768px){
    .login-container{
        width: 90%;
        height: 57%;
    }
    .login-btn-lgn{
        font-size: 18px;
    }
    .login-buttons{
        font-size: 19px;
    }
}
.icon:hover{
    box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.icon{
    padding:0 6px;
}
/*
@media(max-width: 650px) {
    .text{
        height: 808px!important;
        font-size: 53px!important;
    }
    .logo{
        font-size: 266px!important;
        margin-bottom: 29px!important;
    }
    .loader{

        top: 401px!important;
        font-size: 23px!important;

    }
}*/
.alert{
    height: 20px;
    top: 61px;
    position: fixed;
    background: #607d8b7d;
    /* display: block; */
    left: 0;
    width: calc(100% - 8px);
    right: 0;
    margin: auto;
    text-align: center;
    color: #32465a;
    padding: 4px;
}
.btn-alert{
    height: 19px;
    width: 49px;
    border: none;
    background: #32465a;
    color: #b1bfc6;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 8px;
}