body{
	width: 100%;
	height: 100%;
	margin: 0px;
}
header {
    height: 60px;
    width: 100%;
    background: #EDEDED;
    border-color: #dadad9;
    border-bottom-style: solid;
    border-width: 1px;
    display: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background: #EDEDED;
    border-color: #dadad9;
    border-bottom-style: solid;
    border-width: 1px;
}

li {

    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.menu-options:hover {
    background-color: rgba(252,240,240,0.9);
}

.home-back{
	background: #F1F0EE;
}
.menu-title{

    text-align: center;
    border-style: hidden;
    background: rgba(184,126,158, 0.6);
    color: whitesmoke;
    border-radius: 2px;
    margin-left: 1px;
    margin-top: 0;
}
.menu-options{
    height: 100%;
    width: 131px;
    text-align: center;
 	color: black;
}
