@font-face {
    font-family: GlacialIndifference;
    src: url("../fonts/glacial-indifference/GlacialIndifference-Regular.otf");
}
@font-face {
    font-family: GlacialIndifferenceBold;
    src: url("../fonts/glacial-indifference/GlacialIndifference-Bold.otf");
}
@font-face {
    font-family: GlacialIndifferenceItalic;
    src: url("../fonts/glacial-indifference/GlacialIndifference-Italic.otf");
}
@font-face {
    font-family: LatoRegular;
    src: url("../fonts/lato/Lato-Regular.ttf");
}
@font-face {
    font-family: LatoItalic;
    src: url("../fonts/lato/Lato-Italic.ttf");
}
@font-face {
    font-family: LatoBold;
    src: url("../fonts/lato/Lato-Bold.ttf");
}
body{
    /*width: 100vw;*/
    height: 100vh;
    margin: 0;
    background: #44373E;
    font-family: GlacialIndifference;
}
ul{
    list-style-type: none;
}
.nav-bar {
    line-height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background: #EDEDED;
    border-color: #dadad9;
    border-bottom-style: solid;
    border-width: 1px;
}

.left{
    float: left;
}

.right{
    float: right;
}

li a {
    display: block;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    color: inherit;

}

.menu-options:hover {
    background-color: rgba(255, 213, 236, 0.3);
}

.home-back{
	background: #F1F0EE;
}
.menu-title{
    font-family: LatoBold;
    text-align: center;
    border-style: hidden;
    background: rgba(184,126,158, 0.6);
    color: whitesmoke;
    border-radius: 2px;
    margin-left: 1px;
    margin-top: 0;
    min-width: 100px;
    text-transform: uppercase;
    padding: 0 5px;
}
.menu-options{
    font-family: LatoBold;
    height: 100%;
    width: 131px;
    text-align: center;
    color: #594b53;
}
.centered {
    margin-top: 2px;
    position: absolute;
    top: 191%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.container {
    cursor: pointer;
    position: relative;
    text-align: center;
    color: #5c4954;
    padding-right: 30px;
    padding-left: 30px;
}
.book-img:hover{
    background-color: rgba(255, 213, 236, 0.3);

}

.books{
    padding: 5%;
}

.book-img{
    width: 80px;
    -webkit-filter: hue-rotate(90deg); /* Safari 6.0 - 9.0 */
    filter: hue-rotate(-428deg);
    box-shadow: -4px 2px 5px 0px #aaaaaa;
}

.book-title{
    font-style: oblique;  
}

.book-title:hover{
    background-color: rgba(255, 213, 236, 0.3);

}

.btn{
    height: 29px;
    width: 120px;
    border: none;
    background: #B87E9E;
    color: whitesmoke;
    border-radius: 3px;
    cursor: pointer;
}

.new-book{
    float: right;
    margin-right: 5%;
    margin-top: 19px;
    margin-bottom: 11px;
}

.save{
    /* display: block; */
    margin-right: 9px
}

.finish{
    background: rgba(102,82,93,1);
}


div.chapter{
    background: white;
    height: calc(70% - 61px);
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-y: auto;
}

.chapter-title{
    min-height: 10%;
    text-align: center;
    font-size: xx-large;
    outline: none;
}
.chapter-body{
    min-height: 50%;
    margin-top: 5%;
    text-align: justify;
    outline: none;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgba(128,128,128,0.35);
}

.scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d5c9cf;
}

/*Standard*/

.padding-10{
    padding: 0 10px;
}
.hidden{
    display: none;
}
.disable{
    pointer-events: none;
    background: rgba(102,82,93,0.3);
    color:gray;
}
.modal{
    background: rgba(68,55,62,0.94);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: whitesmoke;
}
.modal-content{
    margin: auto auto;
    width: 45%;
    height: 56%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.modal-title{
    height: 30%;
    text-align: center;
    font-size: 35px;
}
.modal-body{
    height: 50%;
}
.modal-btn-cont{
    height: 20%;
    text-align: center;
}
.modal-btn{
    margin: 2px 14px;
}
/*Login*/
.center{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: auto;
}
.main-cont{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../imgs/login-back.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-container{
    background-color: rgba(249,252,255,0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 50%;
    margin: auto;
    border: 0px solid rgba(102,82,93,100);
    border-radius: 20px;
    min-height: 196px;
}

.login-title{
    width: 100%;
    line-height: 14vh;
    font-size: xx-large;
    text-align: center;
    color: #66525d;
    padding: 10px 0 ;
}

.login-content{
    width: 100%;
    height: 40%;
}


.login-buttons{
    width: 100%;
    height: calc(60% - 14vh - 20px);
    text-align: center;
}

.login-btn{
    width: 100%;
    height: 50%;
    text-align: center;
}

.login-btn-lgn{
    line-height: 35px;
    background-color: #66525D;
    width: 30%;
    opacity: 100;
    margin: 0 auto;
    border: 1px solid #9C8592;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    position: relative;
}

button:hover{
    box-shadow: 0 -2px 16px 2px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: bold;
}

.login-btn-reg{
    line-height: 35px;
    color: #66525D;
    width: 30%;
    opacity: 100;
    margin: 0 auto;
    cursor: pointer;
}

.login-btn-reg:hover{
    font-weight: bold; 
}

.login-lbl{
    width: 100%;
    height: 50%;
    text-align: center;
}

input{
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(158,158,158,0.77);
    padding: 2px 10px;
    cursor: text;
    font-family: GlacialIndifference;
    font-size: initial;
}
.usr-input{
    width: 40%;
}
.usr-input::placeholder{
    color:rgba(154,154,154,0.66);
}
.register{
    height: 30% !important;
}
.login-btn.hidden{
    height: 0 !important;
}

/*all-books*/
.book-input{
    width: 60%;
}
.btn-cancel{
    background: none;
    border: 1px solid #b87e9e;
    color: #b87e9e;
}
/*edit-chapter*/
.list-options{
    columns: 2;
    text-align: justify;
    padding: 20px;
}
.decision{
    padding: 0 14px;
  
}