/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { position: relative; overflow: hidden; auto: 0 !important;  color: #607D8B; height: calc(100vh - 61px);}
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch {
	width: 3px;
    height: 3px;
    display: block;
    /* border: 1px solid black; */
    position: absolute;
    /* top: 1px; */
    right: 9px;
    cursor: pointer;
    left: 0;
    margin: auto; }
.Treant > .node img {	border: none; float: left; }
.Treant > .current {
    /*background: #ffffff;
    border-color: #8BC34A;
    color: #8BC34A;*/
    font-weight: bold;
    color: #b1bfc6 ;
    border-color: #dce0e3;
    background: #f9fafb14
}
.Treant > .current a{
    color: #e1f1f8;
}
.Treant >.node.not-finished{
    border-color: #E57373;
    border-width: 3px;
}
.Treant >.node.no-owner{
    border-color: #a2d06d;
    border-width: 3px;
}